:root {
  --accent-color: #eefeff;
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
}

footer {
  box-shadow: 0 50vh 0 50vh #f8f9fa;
}

.disabled {
  cursor: default;
}

.hero-img {
  background: url("../images/rain.jpeg") no-repeat center center;
  background-size: cover;
  height: 35vh;
  min-height: 100%;
}

.name {
  font-size: 25px;
  font-weight: 500;
  opacity: 90%;
}

.card {
  color: black;
  text-decoration: none;
  transition: all 150ms ease-in-out;
  width: 350px;
}

.card:hover {
  background-color: var(--accent-color);
  color: black;
}

.card-img-top {
  height: 13vw;
  object-fit: cover;
}

.card-title {
  font-size: 20px;
}

.no-link:hover {
  background-color: white;
}

.social-icon {
  color: black;
  font-size: 25px;
  font-weight: bold;
}

.about-photo {
  max-height: 300px;
  object-fit: cover;
  width: 100%;
}

@media (max-width: 768px) {
  .card-img-top {
    height: 30vw;
    object-fit: cover;
  }
}

@media (max-width: 576px) {
  .card-img-top {
    height: 50vw;
    object-fit: cover;
  }
}
